# This config file is used by ros2_control with fake hardware
controller_manager:
  ros__parameters:
    update_rate: 100 # Hz for UR5

    forward_position_controller:
      type: position_controllers/JointGroupPositionController
    # joint_trajectory_controller:
    #   type: joint_trajectory_controller/JointTrajectoryController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

forward_position_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
